blinker==1.9.0
click==8.3.1
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
jiwer==4.0.0
MarkupSafe==3.0.3
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pdf2image==1.17.0
pillow==12.0.0
pytesseract==0.3.13
RapidFuzz==3.14.3
Werkzeug==3.1.4
